.cover{
  background-color: rgba(139, 53, 53, 0.961);
   margin: 100px auto;
   width: 500px;
    border: 2px dashed black;

    
}
.main{
    border-color: 2px dotted black;
}

body{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large ;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    background-color: rgb(6, 5, 6);
    color: aliceblue;
}
    
button{
    cursor: pointer;
font-size: x-large;
color: red;


}

#result{
    border: 2px solid black;
    background-color: aliceblue;
    color: black;
}
